In [106]:
import pandas as pd 
import os
import re

from nltk.stem import PorterStemmer
from matplotlib import pyplot as plt
from collections import defaultdict, Counter

In [2]:
BASE_PATH = os.path.join(os.getcwd(), os.pardir)
DATA_PATH = os.path.join(BASE_PATH, 'data')

In [3]:
train_df = pd.read_json(os.path.join(DATA_PATH, 'train.json'))

# Extract text/numerical/categorical features

Let's extract out hte number of bathrooms and bedrooms, the building ID, the latitude, the longitude, the manager ID and the price since these are trivial to extract

In [4]:
bathrooms = train_df['bathrooms']
bedrooms = train_df['bedrooms']
building_ids = train_df['building_id']
latitudes = train_df['latitude']
longitudes = train_df['longitude']
manager_ids = train_df['manager_id']
prices = train_df['price']

Now we can extract the month, day, hour and weekday from the creation timestamp

In [5]:
datetime = pd.to_datetime(train_df['created'])

In [6]:
months = datetime.dt.month
days = datetime.dt.day
hours = datetime.dt.hour

In [7]:
# Where Monday = 0, and Sunday = 6
weekdays = datetime.dt.dayofweek

Now we can extract the number of pictures for each listing

In [8]:
num_photos = train_df['photos'].str.len()

Now let's extract the 'features' column, which is a harder task

Methodology of: https://www.kaggle.com/jxnlco/deduplicating-features

In [9]:
features = train_df['features'].apply(lambda x: [i.lower() for i in x])

We eliminate all features that appear less than $n$ times

In [10]:
n = 5

feature_counts = Counter()
for feature in features.tolist():
    feature_counts.update(feature)
feature = sorted([k for (k,v) in feature_counts.items() if v > n])
feature[:10]

['24/7 concierge',
 '24/7 doorman',
 '24hr doorman',
 'a full service luxury highrise',
 'actual apt. photos',
 'air conditioning',
 'all utilities included',
 'assigned-parking-space',
 'attended lobby',
 'backyard']

Since we have a lot of duplicates, we can clean things up to eliminate them. We use the first 4 characters of a feature in order to group together different features.

In [11]:
def clean(s):
    x = s.replace("-", "")
    x = x.replace(" ", "")
    x = x.replace("twenty four hour", "24")
    x = x.replace("24/7", "24")
    x = x.replace("24hr", "24")
    x = x.replace("24-hour", "24")
    x = x.replace("24hour", "24")
    x = x.replace("24 hour", "24")
    x = x.replace("common", "cm")
    x = x.replace("concierge", "doorman")
    x = x.replace("bicycle", "bike")
    x = x.replace("private", "pv")
    x = x.replace("deco", "dc")
    x = x.replace("decorative", "dc")
    x = x.replace("onsite", "os")
    x = x.replace("outdoor", "od")
    x = x.replace("ss appliances", "stainless")
    return x

def feature_hash(x):
    cleaned = clean(x, uniq)
    key = cleaned[:4].strip()
    return key

In [12]:
key2original = defaultdict(list)
k = 4
for f in feature:
    cleaned = clean(f)
    key = cleaned[:k].strip()
    key2original[key].append(f)

In [18]:
key2original

defaultdict(list,
            {'24do': ['24/7 concierge', '24/7 doorman', '24hr doorman'],
             'aful': ['a full service luxury highrise'],
             'actu': ['actual apt. photos'],
             'airc': ['air conditioning'],
             'allu': ['all utilities included'],
             'assi': ['assigned-parking-space'],
             'atte': ['attended lobby'],
             'back': ['backyard'],
             'balc': ['balcony'],
             'base': ['basement storage'],
             'bike': ['bike room', 'bike storage'],
             'bill': ['billiards room'],
             'brea': ['breakfast bar'],
             'brow': ['brownstone'],
             'buil': ['building-common-outdoor-space'],
             'busi': ['business center'],
             'cabl': ['cable/satellite tv'],
             'cats': ['cats allowed'],
             'cent': ['central a/c', 'central ac', 'central air'],
             'chef': ['chefs kitchen'],
             'chil': ["children's playroom", 'childrens playroom'],
             'cine': ['cinema room'],
             'city': ['city view'],
             'clos': ['close to subway', 'closets galore!'],
             'cmba': ['common backyard'],
             'cmga': ['common garden'],
             'cmod': ['common outdoor space'],
             'cmpa': ['common parking/garage'],
             'cmro': ['common roof deck'],
             'cmst': ['common storage'],
             'cmte': ['common terrace'],
             'comm': ['community recreation facilities'],
             'door': ['concierge', 'concierge service', 'doorman'],
             'cond': ['condo finishes'],
             'cour': ['courtyard'],
             'crow': ['crown moldings'],
             'deck': ['deck'],
             'dcra': ['decorative fireplace'],
             'dini': ['dining room'],
             'dish': ['dishwasher'],
             'dogs': ['dogs allowed'],
             'dryc': ['dry cleaning service'],
             'drye': ['dryer in unit'],
             'dupl': ['duplex'],
             'eati': ['eat in kitchen', 'eat-in kitchen'],
             'elev': ['elevator'],
             'excl': ['exclusive'],
             'expo': ['exposed brick'],
             'fire': ['fireplace', 'fireplaces'],
             'fitn': ['fitness center'],
             'flex': ['flex-2', 'flex-3'],
             'ftdo': ['ft doorman'],
             'full': ['full service garage', 'full-time doorman'],
             'furn': ['furnished'],
             'gara': ['garage'],
             'garb': ['garbage disposal'],
             'gard': ['garden', 'garden/patio'],
             'gran': ['granite kitchen'],
             'gree': ['green building'],
             'guar': ['guarantors accepted'],
             'gutr': ['gut renovated'],
             'gym': ['gym'],
             'gymi': ['gym in building'],
             'gym/': ['gym/fitness'],
             'hard': ['hardwood', 'hardwood floors'],
             'heal': ['health club'],
             'hiri': ['hi rise'],
             'high': ['high ceiling',
              'high ceilings',
              'high speed internet',
              'high-speed internet',
              'highrise'],
             'inun': ['in-unit washer/dryer'],
             'indo': ['indoor pool'],
             'jacu': ['jacuzzi'],
             'larg': ['large living room'],
             'laun': ['laundry',
              'laundry & housekeeping',
              'laundry in building',
              'laundry in unit',
              'laundry on floor',
              'laundry room'],
             'ligh': ['light'],
             'live': ['live in super',
              'live-in super',
              'live-in superintendent',
              'live/work'],
             'loft': ['loft'],
             'loun': ['lounge', 'lounge room'],
             'lowr': ['lowrise'],
             'luxu': ['luxury building'],
             'mail': ['mail room'],
             'marb': ['marble bath', 'marble bathroom'],
             'medi': ['media room'],
             'micr': ['microwave'],
             'midr': ['midrise'],
             'mult': ['multi-level'],
             'newc': ['new construction'],
             'newl': ['newly renovated'],
             'nofe': ['no fee'],
             'nope': ['no pets'],
             'osga': ['on-site garage'],
             'osla': ['on-site laundry'],
             'ospa': ['on-site parking',
              'on-site parking available',
              'on-site parking lot'],
             'ossu': ['on-site super'],
             'onem': ['one month free'],
             'odar': ['outdoor areas'],
             'oden': ['outdoor entertainment space'],
             'odpo': ['outdoor pool'],
             'odsp': ['outdoor space'],
             'pack': ['package room'],
             'park': ['parking', 'parking available', 'parking space'],
             'part': ['party room'],
             'pati': ['patio'],
             'petf': ['pet friendly'],
             'pets': ['pets', 'pets allowed', 'pets on approval'],
             'play': ['playroom', 'playroom/nursery'],
             'pool': ['pool'],
             'post': ['post war', 'post-war'],
             'prew': ['pre-war', 'prewar'],
             'pvba': ['private backyard',
              'private balcony',
              'private-balcony'],
             'pvde': ['private deck'],
             'pvga': ['private garden'],
             'pvla': ['private laundry room on every floor'],
             'pvod': ['private outdoor space', 'private-outdoor-space'],
             'pvpa': ['private parking'],
             'pvte': ['private terrace'],
             'publ': ['publicoutdoor'],
             'quee': ['queen sized rooms'],
             'redu': ['reduced fee'],
             'reno': ['renovated'],
             'resi': ['residents garden', 'residents lounge'],
             'roof': ['roof access',
              'roof deck',
              'roof-deck',
              'roofdeck',
              'rooftop deck',
              'rooftop terrace'],
             's/sa': ['s/s appliances'],
             'saun': ['sauna'],
             'scre': ['screening room'],
             'shar': ['shared backyard', 'shares ok'],
             'shor': ['short term allowed'],
             'simp': ['simplex'],
             'skyl': ['skylight'],
             'stai': ['stainless steel', 'stainless steel appliances'],
             'stor': ['storage', 'storage available', 'storage room'],
             'subl': ['sublet'],
             'subw': ['subway'],
             'sund': ['sundeck'],
             'swim': ['swimming pool'],
             'tena': ['tenant lounge'],
             'terr': ['terrace', 'terraces / balconies'],
             'tons': ['tons of natural light'],
             'vale': ['valet',
              'valet parking',
              'valet services',
              'valet services including dry cleaning'],
             'vide': ['video intercom'],
             'view': ['view'],
             'virt': ['virtual doorman'],
             'walk': ['walk in closet', 'walk in closet(s)', 'walk-in closet'],
             'wash': ['washer & dryer',
              'washer in unit',
              'washer/dryer',
              'washer/dryer hookup',
              'washer/dryer in building',
              'washer/dryer in unit'],
             'whee': ['wheelchair access', 'wheelchair ramp'],
             'wifi': ['wifi', 'wifi access'],
             'wood': ['wood-burning fireplace']})

In [56]:
columns = list(key2original.keys())

In [23]:
original2key = {}
for col in columns:
    for original in key2original[col]:
        original2key[original] = col

In [24]:
original2key

{'24/7 concierge': '24do',
 '24/7 doorman': '24do',
 '24hr doorman': '24do',
 'a full service luxury highrise': 'aful',
 'actual apt. photos': 'actu',
 'air conditioning': 'airc',
 'all utilities included': 'allu',
 'assigned-parking-space': 'assi',
 'attended lobby': 'atte',
 'backyard': 'back',
 'balcony': 'balc',
 'basement storage': 'base',
 'bike room': 'bike',
 'bike storage': 'bike',
 'billiards room': 'bill',
 'breakfast bar': 'brea',
 'brownstone': 'brow',
 'building-common-outdoor-space': 'buil',
 'business center': 'busi',
 'cable/satellite tv': 'cabl',
 'cats allowed': 'cats',
 'central a/c': 'cent',
 'central ac': 'cent',
 'central air': 'cent',
 'chefs kitchen': 'chef',
 "children's playroom": 'chil',
 'childrens playroom': 'chil',
 'cinema room': 'cine',
 'city view': 'city',
 'close to subway': 'clos',
 'closets galore!': 'clos',
 'common backyard': 'cmba',
 'common garden': 'cmga',
 'common outdoor space': 'cmod',
 'common parking/garage': 'cmpa',
 'common roof deck': 'cmro',
 'common storage': 'cmst',
 'common terrace': 'cmte',
 'community recreation facilities': 'comm',
 'concierge': 'door',
 'concierge service': 'door',
 'doorman': 'door',
 'condo finishes': 'cond',
 'courtyard': 'cour',
 'crown moldings': 'crow',
 'deck': 'deck',
 'decorative fireplace': 'dcra',
 'dining room': 'dini',
 'dishwasher': 'dish',
 'dogs allowed': 'dogs',
 'dry cleaning service': 'dryc',
 'dryer in unit': 'drye',
 'duplex': 'dupl',
 'eat in kitchen': 'eati',
 'eat-in kitchen': 'eati',
 'elevator': 'elev',
 'exclusive': 'excl',
 'exposed brick': 'expo',
 'fireplace': 'fire',
 'fireplaces': 'fire',
 'fitness center': 'fitn',
 'flex-2': 'flex',
 'flex-3': 'flex',
 'ft doorman': 'ftdo',
 'full service garage': 'full',
 'full-time doorman': 'full',
 'furnished': 'furn',
 'garage': 'gara',
 'garbage disposal': 'garb',
 'garden': 'gard',
 'garden/patio': 'gard',
 'granite kitchen': 'gran',
 'green building': 'gree',
 'guarantors accepted': 'guar',
 'gut renovated': 'gutr',
 'gym': 'gym',
 'gym in building': 'gymi',
 'gym/fitness': 'gym/',
 'hardwood': 'hard',
 'hardwood floors': 'hard',
 'health club': 'heal',
 'hi rise': 'hiri',
 'high ceiling': 'high',
 'high ceilings': 'high',
 'high speed internet': 'high',
 'high-speed internet': 'high',
 'highrise': 'high',
 'in-unit washer/dryer': 'inun',
 'indoor pool': 'indo',
 'jacuzzi': 'jacu',
 'large living room': 'larg',
 'laundry': 'laun',
 'laundry & housekeeping': 'laun',
 'laundry in building': 'laun',
 'laundry in unit': 'laun',
 'laundry on floor': 'laun',
 'laundry room': 'laun',
 'light': 'ligh',
 'live in super': 'live',
 'live-in super': 'live',
 'live-in superintendent': 'live',
 'live/work': 'live',
 'loft': 'loft',
 'lounge': 'loun',
 'lounge room': 'loun',
 'lowrise': 'lowr',
 'luxury building': 'luxu',
 'mail room': 'mail',
 'marble bath': 'marb',
 'marble bathroom': 'marb',
 'media room': 'medi',
 'microwave': 'micr',
 'midrise': 'midr',
 'multi-level': 'mult',
 'new construction': 'newc',
 'newly renovated': 'newl',
 'no fee': 'nofe',
 'no pets': 'nope',
 'on-site garage': 'osga',
 'on-site laundry': 'osla',
 'on-site parking': 'ospa',
 'on-site parking available': 'ospa',
 'on-site parking lot': 'ospa',
 'on-site super': 'ossu',
 'one month free': 'onem',
 'outdoor areas': 'odar',
 'outdoor entertainment space': 'oden',
 'outdoor pool': 'odpo',
 'outdoor space': 'odsp',
 'package room': 'pack',
 'parking': 'park',
 'parking available': 'park',
 'parking space': 'park',
 'party room': 'part',
 'patio': 'pati',
 'pet friendly': 'petf',
 'pets': 'pets',
 'pets allowed': 'pets',
 'pets on approval': 'pets',
 'playroom': 'play',
 'playroom/nursery': 'play',
 'pool': 'pool',
 'post war': 'post',
 'post-war': 'post',
 'pre-war': 'prew',
 'prewar': 'prew',
 'private backyard': 'pvba',
 'private balcony': 'pvba',
 'private-balcony': 'pvba',
 'private deck': 'pvde',
 'private garden': 'pvga',
 'private laundry room on every floor': 'pvla',
 'private outdoor space': 'pvod',
 'private-outdoor-space': 'pvod',
 'private parking': 'pvpa',
 'private terrace': 'pvte',
 'publicoutdoor': 'publ',
 'queen sized rooms': 'quee',
 'reduced fee': 'redu',
 'renovated': 'reno',
 'residents garden': 'resi',
 'residents lounge': 'resi',
 'roof access': 'roof',
 'roof deck': 'roof',
 'roof-deck': 'roof',
 'roofdeck': 'roof',
 'rooftop deck': 'roof',
 'rooftop terrace': 'roof',
 's/s appliances': 's/sa',
 'sauna': 'saun',
 'screening room': 'scre',
 'shared backyard': 'shar',
 'shares ok': 'shar',
 'short term allowed': 'shor',
 'simplex': 'simp',
 'skylight': 'skyl',
 'stainless steel': 'stai',
 'stainless steel appliances': 'stai',
 'storage': 'stor',
 'storage available': 'stor',
 'storage room': 'stor',
 'sublet': 'subl',
 'subway': 'subw',
 'sundeck': 'sund',
 'swimming pool': 'swim',
 'tenant lounge': 'tena',
 'terrace': 'terr',
 'terraces / balconies': 'terr',
 'tons of natural light': 'tons',
 'valet': 'vale',
 'valet parking': 'vale',
 'valet services': 'vale',
 'valet services including dry cleaning': 'vale',
 'video intercom': 'vide',
 'view': 'view',
 'virtual doorman': 'virt',
 'walk in closet': 'walk',
 'walk in closet(s)': 'walk',
 'walk-in closet': 'walk',
 'washer & dryer': 'wash',
 'washer in unit': 'wash',
 'washer/dryer': 'wash',
 'washer/dryer hookup': 'wash',
 'washer/dryer in building': 'wash',
 'washer/dryer in unit': 'wash',
 'wheelchair access': 'whee',
 'wheelchair ramp': 'whee',
 'wifi': 'wifi',
 'wifi access': 'wifi',
 'wood-burning fireplace': 'wood'}

In [100]:
all_listing_features = {}

for index,row in train_df.iterrows():
    listing_features = {}
    features_found = []
    for feature in row['features']:
        feature = feature.lower()
        if feature in original2key:
            features_found.append(original2key[feature])
    for feature in columns:
            if feature not in features_found:
                listing_features[feature] = 0
            else:
                listing_features[feature] = 1
    all_listing_features[row['listing_id']] = listing_features
    
one_hot_features = pd.DataFrame.from_dict(all_listing_features, orient='index')

In [105]:
one_hot_features

,24do,aful,actu,airc,allu,assi,atte,back,balc,base,...,tons,vale,vide,view,virt,walk,wash,whee,wifi,wood
7170325,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7092344,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7158677,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7211212,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7225292,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6824800,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6813268,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6927093,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
6892816,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6901023,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Now we can try extracting features from the "Description" column

Methodology of: https://www.kaggle.com/ug2409/using-description-as-the-only-feature-72-cv

In [133]:
descriptions = train_df[['description']]

In [134]:
# Removes symbols, numbers and stem the words to reduce dimentional space
stemmer = PorterStemmer()

def clean(x):
    regex = re.compile('[^a-zA-Z ]')
    # For user clarity, broken it into three steps
    i = regex.sub(' ', x).lower()
    i = i.split(" ") 
    i= [stemmer.stem(l) for l in i]
    i= " ".join([l.strip() for l in i if (len(l)>2) ]) # Keeping words that have length greater than 2
    return i

In [135]:
descriptions['description_new'] = descriptions.description.apply(lambda x: clean(x))

/home/mnguyen/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [136]:
descriptions.head()

,description,description_new
4,Spacious 1 Bedroom 1 Bathroom in Williamsburg!...,spaciou bedroom bathroom williamsburg apart fe...
6,BRAND NEW GUT RENOVATED TRUE 2 BEDROOMFind you...,brand new gut renov true bedroomfind yourself ...
9,**FLEX 2 BEDROOM WITH FULL PRESSURIZED WALL**L...,flex bedroom with full pressur wall look for t...
10,A Brand New 3 Bedroom 1.5 bath ApartmentEnjoy ...,brand new bedroom bath apartmentenjoy these fo...
15,Over-sized Studio w abundant closets. Availabl...,over size studio abund closet avail immedi ren...

In [137]:
from sklearn.feature_extraction.text import CountVectorizer #Can use tfidffvectorizer as well

cvect_desc = CountVectorizer(stop_words='english', max_features=200)
full_sparse = cvect_desc.fit_transform(descriptions.description_new)

# Renaming words to avoid collisions with other feature names in the model
col_desc = ['desc_'+ i for i in cvect_desc.get_feature_names()] 
count_vect_df = pd.DataFrame(full_sparse.todense(), columns=col_desc)
descriptions = pd.concat([descriptions.reset_index(), count_vect_df],axis=1)

In [138]:
descriptions = descriptions.drop(labels=['description', 'index', 'description_new'], axis=1)

,desc_access,desc_allow,desc_amaz,desc_amen,desc_amp,desc_ani,desc_apart,desc_applianc,desc_appoint,desc_area,...,desc_walk,desc_wall,desc_washer,desc_water,desc_websit,desc_west,desc_white,desc_window,desc_wood,desc_york
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,1,1,0,0,0,0,0
1,0,0,0,0,0,0,2,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,0,0,0,0,0,0,5,1,0,0,...,0,1,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,2,1,0,1,...,0,0,1,0,1,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [139]:
descriptions.index = train_df['listing_id']
descriptions.head()

,desc_access,desc_allow,desc_amaz,desc_amen,desc_amp,desc_ani,desc_apart,desc_applianc,desc_appoint,desc_area,...,desc_walk,desc_wall,desc_washer,desc_water,desc_websit,desc_west,desc_white,desc_window,desc_wood,desc_york
listing_id,,,,,,,,,,,,,,,,,,,,,
7170325,0,0,0,0,0,0,1,0,0,0,...,0,0,0,1,1,0,0,0,0,0
7092344,0,0,0,0,0,0,2,0,0,0,...,0,0,0,0,1,0,0,0,0,0
7158677,0,0,0,0,0,0,5,1,0,0,...,0,1,0,0,1,0,0,0,0,0
7211212,0,0,0,0,0,0,2,1,0,1,...,0,0,1,0,1,0,0,0,0,0
7225292,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0